*,
*::before,
*::after {
  box-sizing: border-box;
}
.listUnstyled {
    list-style: none;
    margin: 0;
    padding: 0;
  }

button {
    appearance: none;
    border: none;
    background: none;
    padding: 20px;
    cursor: pointer;
}

body {
    font-family: 'Titillium web', sans-serif;
    font-size: var(--main-text);
    color: var(--gris);
}

h1 {
    font-family: 'Lobster', sans-serif;
    color: var(--blanc);
    font-weight: 100;
    font-size: var(--main-font-header);
}

h2, h3 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
    color: var(--noir);
}
h2 {
    font-size: var(--heading-2-article);
    text-align: center;
}
h3 {
    font-size: var(--subheading);
    text-align: center;
}
.noscroll,
.noscroll body {
  overflow: hidden;
}

main {
    margin-top: 30%;
}