.article :not(img, div, h3, .article2-end__caption, hr, strong) {
    margin: 5% 10% 5% 10%;
}

.article__img-center {
    display: flex;
    justify-content: center;
}



.article2-end {
    display: flex;
    flex-direction: row;
}

.article2-end__caption {
    margin: 5%;
}
.article2-end__img {
    object-fit: contain;
}

.article-hr {
    border: none;
    border-top: 1.5px solid var(--marron-clair);
}

.article2-video, .article3-img  {
    padding: 3% 0% 3% 0%;
}

.caption-img1-2, .caption-img1-3, .caption-img1-4 {
	position: absolute;
	text-align: center;
	width: 375px;
	height: 50px;
	margin: 0px;
	padding: 0px;
	color: var(--noir);
	background-color: rgba(255, 255, 255, 0.8);
	top:0;
    left:0;
	z-index: 1;
}

.legende {
	position: relative;
	text-align: center;
	margin: 0px;
	padding: 10px;
    font-size: var(--quote);
	color: var(--noir);
	background-color: rgba(255, 255, 255, 0.5);
	top:0;
    left: 0;
	z-index: 2;
}


.visionneuse {
    height: 397px;
    overflow: hidden;
}