.header {
    top: 0;
    left: 0;
    background-color: var(--marron-fonce);
    margin: 0;
    z-index: 5;
    position: fixed;
    width: 100%;

    padding-left: 32%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header__title {
    color: var(--blanc);
    text-decoration: none;
}
.header__menu-div {
    padding-left: 10%;
}
