.heading__title {
    font-size: var(--headline); 
    margin-top: -5px;
}

.title-redline, .title-redline-index {
    width: 30px;
    height:1.5px;
    background-color: var(--marron-fonce);

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title-redline-index {
    margin-top: -8%;
}

.heading__caption {
    color: var(--noir);
    margin: 5% 10% 15% 10%;
}

.blueline {
    width: 120px;
    height: 1.5px;
    background-color: var(--bleu);
    margin-top: 10%;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

