.hero {
    top: 0;
    left:0;
    margin-top: -20%;

    background-image: url(../../../public/img/hero_bg.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
    padding-bottom: 170%;
}


.hero__caption {
    background-color: rgba(255, 255, 255, 0.25);
    width: 350px;
    margin-top: 200%;
    position: absolute;
    z-index:2;

    font-size: var(--main-font-header);
    font-family: 'Lobster', sans-serif;
    font-weight: 100;
    text-align: center;
    color: var(--blanc);
}

.hero__caption__div {
    display: flex;
    justify-content: center;
    align-items: center;
}